/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* Authors HTML */

.label {
    margin-bottom: 6px;
    color: white;
}

.add_book_link {
    margin-left: 125px;
    font-size: larger;
    text-decoration: none;
}

.authors_list {
    text-decoration: none;
    color: gold;
    font-size: larger;
}

/* show_books HTML */
.book_label {
    font-size: larger;
    margin-bottom: 5px;
}

.fav_by {
    font-size: larger;
    margin-left: 10px;
}

.author_option {
    margin-left: 10px;
}

.home_link {
    margin-right: 1400px;
    font-size: larger;
    text-decoration: none;
}